# Entornos virtuales (por si acaso creas uno localmente)
venv/
env/
.env

# Archivos pesados de modelos y pesos (¡Crucial para no bloquear GitHub!)
models/weights/
assets/
*.pth
*.npy
*.dat
*.mat

# Bases de datos y resultados (protege privacidad y ahorra espacio)
data/
output/

# Caché de Python y Jupyter Notebooks
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/